pipeline/Generic_Gen_account.json
{
	"name": "Generic_Gen_account",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set variable1_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set variable1_copy1_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set variable1_copy1_copy2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": false,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DelimitedTextGeneric",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@variables('container')",
								"type": "Expression"
							},
							"path": {
								"value": "@variables('path')",
								"type": "Expression"
							},
							"compression_type": "None",
							"compression_level": "None",
							"column_delimiter": ",",
							"encoding": "UTF-8",
							"escape_character": "\\",
							"quote_character": "\"",
							"first_row_as_header": true,
							"null_value": "n/a",
							"directory": {
								"value": "@variables('directory')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DelimitedTextGeneric",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@variables('container')",
								"type": "Expression"
							},
							"path": {
								"value": "@pipeline().parameters.path",
								"type": "Expression"
							},
							"compression_type": "None",
							"compression_level": "None",
							"column_delimiter": ",",
							"encoding": "UTF-8",
							"escape_character": "\\",
							"quote_character": "\"",
							"first_row_as_header": true,
							"null_value": "n/a",
							"directory": {
								"value": "@variables('directory')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "container",
					"value": "sourcerawdata"
				}
			},
			{
				"name": "Set variable1_copy1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "path",
					"value": "EMP.csv"
				}
			},
			{
				"name": "Set variable1_copy1_copy1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "directory",
					"value": "RAW_DIR"
				}
			},
			{
				"name": "Set variable1_copy1_copy2",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "target_file",
					"value": "sitanshu_test.csv"
				}
			}
		],
		"parameters": {
			"container": {
				"type": "string"
			},
			"path": {
				"type": "string"
			},
			"directory": {
				"type": "string"
			},
			"target_file": {
				"type": "string"
			}
		},
		"variables": {
			"container": {
				"type": "String"
			},
			"path": {
				"type": "String"
			},
			"directory": {
				"type": "String"
			},
			"target_file": {
				"type": "String"
			}
		},
		"annotations": []
	}
}