pipeline/Generic_Gen_account.json
{
	"name": "Generic_Gen_account",
	"properties": {
		"activities": [
			{
				"name": "Config_lookUp",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Config_Json",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Switch1",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "Config_lookUp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@activity('Config_lookUp').output.firstRow.directory",
						"type": "Expression"
					},
					"cases": [],
					"defaultActivities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_inner_test",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"inner_value_pl": {
										"value": "@activity('Config_lookUp').output.firstRow.container",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"container": {
				"type": "string"
			},
			"directory": {
				"type": "string"
			},
			"path": {
				"type": "string"
			}
		},
		"annotations": []
	}
}