pipeline/ps_learning_1_rt_map.json
{
	"name": "ps_learning_1_rt_map",
	"properties": {
		"activities": [
			{
				"name": "DATA_FLOW",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_raw_tar_learn_1",
						"type": "DataFlowReference",
						"parameters": {
							"filename": {
								"value": "'@{variables('filename')}'",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [
					{
						"name": "filename",
						"value": "dynamic_check.csv"
					}
				],
				"typeProperties": {
					"variableName": "filename",
					"value": "dynamic.csv"
				}
			}
		],
		"variables": {
			"filename": {
				"type": "String"
			}
		},
		"annotations": []
	}
}